.App {
  text-align: center;
}

.scroller {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.scroller-layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto;
  /* grid-template-rows: 100%; */
  justify-content: center;
  align-content: space-around;
}

.scroller-nav {
  grid-column: 2;
  grid-row: 1;
  z-index: 100;
  align-self: center;
}

.svg {
}

.nav-bullet {
  margin: 0.5rem 1rem;
}

.zoom {
  animation: zoom 200ms 0ms forwards;
}

.nav-bullet:hover {
  cursor: pointer;
  animation: zoom 400ms forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.4, 1.4);
  }
}
